services:
  - type: web
    name: cospa-api
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    startCommand: uvicorn main:app --host 0.0.0.0
    envVars:
      - key: POSTGRES_HOST
        sync: false
      - key: POSTGRES_PORT
        value: 5432
      - key: POSTGRES_DB
        sync: false
      - key: POSTGRES_USER
        sync: false
      - key: POSTGRES_PASSWORD
        sync: false
      - key: OPENAI_API_KEY
        sync: false
      - key: QDRANT_API_KEY
        sync: false
      - key: QDRANT_URL
        sync: false
      - key: CLERK_SECRET_KEY
        sync: false
    healthCheckPath: /health
